<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cram</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../styles/bootstrap.min.css">
  <link rel="stylesheet" href="../styles/style.css">
  <script src="../scripts/jquery.min.js"></script>
  <script src="../scripts/bootstrap.min.js"></script>
  <script src="../scripts/angular.min.js"></script>
  <script src="../scripts/angular-route.min.js"></script>
  <script src="../scripts/angular-resource.min.js"></script>
  <script src="../scripts/firebase.js"></script>
  <script src="../scripts/firebase-simple-login.js"></script>
  <script>
    var nw = require('nw.gui');
    var win = nw.Window.get();
    win.isMaximized = false;
  </script>
</head>
<body>

  <header>
    <ul>
      <li><div id='windowControlMinimize'></div></li>
      <!--<li><div id='windowControlMaximize'></div></li>-->
      <li><div id='windowControlClose'   ></div></li>
    </ul>
  </header>

  <div class="container">
    <h1 class="greating">Hello in Cram!</h1>
    <div class="login">
      <form role="form">
        <div class="form-group">
          <label for="email">Login:</label>
          <input type="email" class="form-control" name="email" placeholder="Enter login">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" name="pwd" placeholder="Enter password">
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
        <div class="reg-log-buttons">
          <button type="submit" class="btn btn-default">Register</button>
          <button type="submit" class="btn btn-default" id='subm'>Login</button>
        </div>
      </form>
    </div>
  </div>

  <script>
    document.getElementById('windowControlMinimize').onclick = function()
    {
        win.minimize();
    };

    document.getElementById('windowControlClose').onclick = function()
    {
        win.close();
    };

    /*document.getElementById('windowControlMaximize').onclick = function()
    {
        if (win.isMaximized)
            win.unmaximize();
        else
            win.maximize();
    };

    win.on('maximize', function(){
        win.isMaximized = true;
    });

    win.on('unmaximize', function(){
        win.isMaximized = false;
    });*/

    var myRef = new Firebase("https://cram.firebaseio.com");
    var auth = new FirebaseSimpleLogin(myRef, function(error, user) {
    if (error) {
        if (error.code == 'INVALID_EMAIL') {
            alert('Please enter a valid email address');
        } else if (error.code == 'INVALID_PASSWORD' || error.code == 'INVALID_USER') {
            alert('Invalid Email or Password');
        } else {
            alert("Something went wrong");
        }
    } else if (user) {

        if (location.href.indexOf('/home') < 0)
            window.location.assign('http://localhost:3000/home');

        if ($('#email').length > 0) {
            if (user.provider == 'twitter')
                $('#email').text(user.username);
            else if (user.provider == 'facebook')
                $('#email').text(user.displayName);
            else if (user.provider == 'google')
                $('#email').text(user.displayName);
            else if (user.provider == 'password')
                $('#email').text(user.email);
        }

    } else {
        if (location.href.indexOf('/home') > 0)
            window.location.assign('http://localhost:3000');
    }
});
  </script>
</body>
</html>
