<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../styles/bootstrap.min.css">

<script src="../scripts/libs/jquery.min.js"></script>
<script src="../scripts/libs/jquery.cookie.js"></script>
<script src="../scripts/libs/bootstrap.min.js"></script>
<script src="../scripts/libs/angular.min.js"></script>
<script src="../scripts/libs/angular-route.min.js"></script>
<script src="../scripts/libs/angular-resource.min.js"></script>
<script src="../scripts/libs/firebase.js"></script>

<script src="../scripts/window.js"></script>
