<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cram</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="import" href="header.html">
</head>
<body>

  <header>
    <ul>
      <li><div id='windowControlMinimize'></div></li>
      <li><div id='windowControlClose'   ></div></li>
    </ul>
  </header>

  <div class="container">
    <h1 class="greating">Hello in Cram!</h1>
    <div class="login">
      <form role="form">
        <div class="form-group">
          <label for="email">Login:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter login">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="passw" placeholder="Enter password">
        </div>
        <div class="checkbox">
          <label><input type="checkbox" id="rememb"> Remember me</label>
        </div>
        <div class="reg-log-buttons">
          <button type="button" class="btn btn-default" id="reg" onclick="register()">Register</button>
          <button type="button" class="btn btn-default" id="log" onclick="login()">Login</button>
        </div>
      </form>
    </div>
    <div class="log" id="errlog">

    </div>
  </div>

  <script>
    var myRef = new Firebase('https://cram.firebaseio.com/');
    var authData = myRef.getAuth();

    // Setting cookies and checking "Remember me"
    $( document ).ready(function() {
      $('#rememb').prop({"checked" : true})

      $('#email').val($.cookie("email"))
      $('#passw').val($.cookie("passw"))
    });

    function register() {
      errlog('');
      $('#reg').attr("disabled", "disabled");
      $('#log').attr("disabled", "disabled");
      $('#email').attr("disabled", "disabled");
      $('#passw').attr("disabled", "disabled");
      var email = $('#email').val() + '@cram.com';
      var passw = $('#passw').val()
      myRef.createUser({
        email    : email,
        password : passw,
      }, function(error, userData) {
        if (error) {
          errlog(error);
          $('#reg').removeAttr("disabled");
          $('#log').removeAttr("disabled");
        } else {
          myRef.authWithPassword({
            email    : email,
            password : passw,
          }, function(error, authData) {
            if (error) {
              errlog(error);
              $('#reg').removeAttr("disabled");
              $('#log').removeAttr("disabled");
            } else {
              login(function(){
                myRef.child('users').child(authData.uid).set({
                  name: authData.password.email.replace(/@.*/, '')
                });
              });
            }
          });
        }
      });
    }

    function login(callBack) {
      errlog('');
      $('#reg').attr("disabled", "disabled");
      $('#log').attr("disabled", "disabled");
      $('#email').attr("disabled", "disabled");
      $('#passw').attr("disabled", "disabled");
      var email = $('#email').val() + '@cram.com';
      var passw = $('#passw').val()
      myRef.authWithPassword({
        email    : email,
        password : passw,
      }, function(error, authData) {
        if (error) {
          errlog(error);
          $('#reg').removeAttr("disabled");
          $('#log').removeAttr("disabled");
        } else {
          callBack();
          onLogin(email, passw);
        }
      });
    }

    function onLogin(email, passw){
      if ($('#rememb').prop("checked")) {
        $.cookie("email", null);
        $.cookie("passw", null);
        $.cookie("email", email.replace(/@.*/, ''), { expires: 14 });
        $.cookie("passw", passw, { expires: 14 });
      }

      $('#reg').removeAttr("disabled");
      $('#log').removeAttr("disabled");
      $('#email').removeAttr("disabled");
      $('#passw').removeAttr("disabled");
      errlog('');

      window.location.href = 'app.html';
      win.resizeTo(800,500);
      win.setPosition('center');
    }

    function errlog(data) {
      $('#errlog').html(data);
    }

    /* GUI */
    document.getElementById('windowControlMinimize').onclick = function()
    {
        win.minimize();
    };

    document.getElementById('windowControlClose').onclick = function()
    {
        win.close();
    };
  </script>
</body>
</html>
