<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cram</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../styles/bootstrap.min.css">
  <link rel="stylesheet" href="../styles/style.css">
  <script src="../scripts/jquery.min.js"></script>
  <script src="../scripts/jquery.cookie.js"></script>
  <script src="../scripts/bootstrap.min.js"></script>
  <script src="../scripts/angular.min.js"></script>
  <script src="../scripts/angular-route.min.js"></script>
  <script src="../scripts/angular-resource.min.js"></script>
  <script src="../scripts/firebase.js"></script>
  <script>
    var nw = require('nw.gui');
    var win = nw.Window.get();
    win.isMaximized = false;
  </script>
</head>
<body>

  <header>
    <ul>
      <li><div id='windowControlMinimize'></div></li>
      <!--<li><div id='windowControlMaximize'></div></li>-->
      <li><div id='windowControlClose'   ></div></li>
    </ul>
  </header>

  <div class="container">
    <h1 class="greating">Hello in Cram!</h1>
    <div class="login">
      <form role="form">
        <div class="form-group">
          <label for="email">Login:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter login">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="passw" placeholder="Enter password">
        </div>
        <div class="checkbox">
          <label><input type="checkbox" id="rememb"> Remember me</label>
        </div>
        <div class="reg-log-buttons">
          <button type="button" class="btn btn-default" id="reg" onclick="register()">Register</button>
          <button type="button" class="btn btn-default" id="log" onclick="login()">Login</button>
        </div>
      </form>
    </div>
    <div class="log" id="errlog">

    </div>
  </div>

  <script>
    var myRef = new Firebase('https://cram.firebaseio.com/');
    var authData = myRef.getAuth();

    var emailField = $('#email');
    var passwordField = $('#passw');

    $( document ).ready(function() {
      $('#rememb').prop({"checked" : true})

      emailField.val($.cookie("email"))
      passwordField.val($.cookie("passw"))
    });

    document.getElementById('windowControlMinimize').onclick = function()
    {
        win.minimize();
    };

    document.getElementById('windowControlClose').onclick = function()
    {
        win.close();
    };

    function register() {
      errlog('');
      $('#reg').attr("disabled", "disabled");
      $('#log').attr("disabled", "disabled");
      var email = emailField.val();
      var passw = passwordField.val()
      myRef.createUser({
        email    : email,
        password : passw,
      }, function(error, userData) {
        if (error) {
          errlog(error);
          $('#reg').removeAttr("disabled");
          $('#log').removeAttr("disabled");
        } else {
          myRef.authWithPassword({
            email    : email,
            password : passw,
          }, function(error, authData) {
            if (error) {
              errlog(error);
              $('#reg').removeAttr("disabled");
              $('#log').removeAttr("disabled");
            } else {
              if ($('#rememb').prop("checked") && $.cookie("email") !== emailField.val()) {
                $.cookie("email", null);
                $.cookie("passw", null);
                $.cookie("email", email, { expires: 14 });
                $.cookie("passw", passw, { expires: 14 });
              }

              $('#reg').removeAttr("disabled");
              $('#log').removeAttr("disabled");
              errlog('');
              onLogin();
            }
          });
        }
      });
    }

    function login() {
      errlog('');
      $('#reg').attr("disabled", "disabled");
      $('#log').attr("disabled", "disabled");
      var email = emailField.val();
      var passw = passwordField.val()
      myRef.authWithPassword({
        email    : email,
        password : passw,
      }, function(error, authData) {
        if (error) {
          errlog(error);
          $('#reg').removeAttr("disabled");
          $('#log').removeAttr("disabled");
        } else {
          if ($('#rememb').prop("checked")) {
            $.cookie("email", null);
            $.cookie("passw", null);
            $.cookie("email", email, { expires: 14 });
            $.cookie("passw", passw, { expires: 14 });
          }

          $('#reg').removeAttr("disabled");
          $('#log').removeAttr("disabled");
          errlog('');
          onLogin();
        }
      });
    }

    function onLogin(){
      myRef.child("users").child(authData.uid).set({
        provider: authData.provider,
        name: authData.password.email.replace(/@.*/, '')
      });

      window.location.href = 'app.html';
      win.resizeTo(800,500);
      win.setPosition('center');
    }

    function errlog(data) {
      $('#errlog').html(data);
    }
  </script>
</body>
</html>
